{% extends 'base.html' %}

{% block content %}
    
    <div class="row">
        <div class="col-6 mt-5">
            <h1>Quienes somos</h1>
        </div>
        <div class="col-6 mt-5">
            <p>OnlyFlans es una empresa enfocada en el mundo de la pastelería y los postres, en especial
            en la venta de flan(de ahí su nombre), nace en 2021 en santiago de chile como una empresa
            familiar que pretende entregar productos de calidad a su clientela, estando ubicada en
            providencia, a pasos del metro Parque Bustamante.</p>
        </div>
    </div>

{% endblock %}